section {
  background-color: #fbf7e3;
  display: flex;
  border-radius: 40px;
}

img {
  margin: 30px;
}

h2 {
  color: #612406;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #612406;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 576px) {
  section {
    display: flex;
    flex-direction: column;
  }

  div {
    order: 1;
    margin: 30px;
    display: flex;
    flex-direction: column;
  }

  img {
    order: 2;
  }

  h2 {
    margin-top: 35px;
  }
}
